# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
.env

# =========================
# Streamlit
# =========================
.streamlit/

# =========================
# OCR / ML Artifacts
# =========================
.paddleocr/
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Databases / Local Storage
# =========================
*.db
data/
